.InputType{
    display: block;
    margin:auto;
    padding-right: 0%;
    padding-left:0%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;
    /*position: relative;*/
    border-radius: 10em;
    font-size: 1em;
    height: 5vh;
    width: 70%;
    text-align: center;
    box-shadow: 0px 0px 14px -5px rgba(0,0,0,0.75);
}
.InputType:focus{
    box-shadow: 0px 14px 44px -5px rgba(0,0,0,0.75);
}

button
{
    display: block;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 5%;
    padding: 0.3em 0.15em;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    border-radius: 10em;
    font-size: 1.0em;
    text-align: center;
    box-shadow: 0px 0px 14px -5px rgba(0,0,0,0.75);
}

button:hover{
    box-shadow: 0px 14px 44px -5px rgba(0,0,0,0.75);
    color: black;
}
.RedactText
{
    float: left;
    font-size: 1em;
    text-align: center;
    margin-left: 0%;
    margin: 5%;
    margin-bottom: 10%;
    box-shadow: 0 0 0.35em 0.15em rgba(0,0,0,0.2);
    border-radius: 1em;
    background-color: white;
    padding-bottom: 5%;
}
.Close{
    font-size: 22px;

}